// COLORS

// primary colors
$color-primary: #15202B;
$color-primary-lighter: #162D3F;

// btn colors
$btn-color-primary: #1da1f2;
$btn-color-primary-darker: rgb(23, 131, 199);

$btn-color-secondary: #E0245E;

$btn-color-tertiary: #17BF63;

// input colors
$input-color-1: #253341;
$input-color-2: #374553;

$input-color-active-1: #16212C;

$input-font-color: #6f7b86;

// misc colors
$color-white: #fff;