.user-tweets {
    
    .pinned {
        padding-top: 3rem;
    }

    .pinned::before {
        content: "Pinned Tweet";
        font-size: 1.2rem;
        position: absolute;
        top: 1rem;
        left: 7.5rem;
        color: $color-gray;
    }

    font-size: 1.4rem;
    color: $color-white;

    display: flex;
    flex-direction: column;

    &__tweet {
        position: relative;
        padding: 1.5rem;
        cursor: pointer;
        border-bottom: 1px solid $color-gray-1;
        transition: all .2s ease-in;

        display: flex;

        &:hover {
            background-color: rgba($color-primary-lighter-2, .2);
        }
    }

    &__profile-img {
        background: url(/images/user-images/user-profile-picture.jpeg) no-repeat center;
        background-size: cover;
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;

        transition: filter .2s ease-in;

        &:hover {
            filter: brightness(.85);
        }
    }

    &__tweet-body {
        width: 100%;
        margin-top: .5rem;
        margin-left: 1.5rem;
    }

    &__name {
        font-weight: 700;

        display: inline;
        white-space: nowrap;
        text-align: start;
        overflow-wrap: break-word;
    }

    &__username{
        color: $color-gray;

        display: inline;
        white-space: nowrap;
        text-align: start;
        overflow-wrap: break-word;
    }

    &__post-date {
        color: $color-gray;

        display: inline;
        white-space: nowrap;
        text-align: start;
        overflow-wrap: break-word;
    }

    &__tweet-content {
        margin-top: .5rem;
    }

    &__tweet-video {
        width: 100%;
        margin-top: 1rem;
        border: 1px solid $color-gray-1;
        border-radius: 5px;
    }

    &__tweet-options {
        max-width: 44rem;
    }

    &__tweet-options-list {
        margin-left: -.5rem;
        list-style-type: none;
        width: 100%;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: start;
    }

    &__tweet-options-item--comments {
        justify-self: start;

        &:hover .user-tweets__tweet-options-link--comments,
        &:active .user-tweets__tweet-options-link--comments {
            color: $btn-color-primary;
        }

        &:hover svg[fill="#6f7b86"] {
            fill: $btn-color-primary;
            background-color: rgba($btn-color-primary, .2);
        }
    }

    &__tweet-options-item--retweets {
        justify-self: center;

        &:hover .user-tweets__tweet-options-link--retweets,
        &:active .user-tweets__tweet-options-link--retweets {
            color: $btn-color-tertiary;
        }

        &:hover svg[fill="#6f7b86"] {
            fill: $btn-color-tertiary;
            background-color: rgba($btn-color-tertiary, .2);
        }
    }

    &__tweet-options-item--likes {
        justify-self: end;

        &:hover .user-tweets__tweet-options-link--likes,
        &:active .user-tweets__tweet-options-link--likes {
            color: $btn-color-secondary;
        }

        &:hover svg[fill="#6f7b86"] {
            fill: $btn-color-secondary;
            background-color: rgba($btn-color-secondary, .2);
        }
    }

    &__tweet-options-item--upload {
        justify-self: end;

        &:hover .user-tweets__tweet-options-link--upload,
        &:active .user-tweets__tweet-options-link--upload {
            color: $btn-color-primary;
        }

        &:hover svg[fill="#6f7b86"] {
            fill: $btn-color-primary;
            background-color: rgba($btn-color-primary, .2);
        }
    }

    &__tweet-options-link {
        color: $color-gray;

        transition: all .1s ease-in;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__tweet-options-icon {
        height: 12.5pt;
        padding: .5rem;
        box-sizing: content-box;
        border: 1px solid transparent;
        border-radius: 50%;
        overflow: visible;

        transition: all .2s ease-in;
    }

    &__tweet-embed-container {
        &:hover .user-tweets__tweet-options-link--upload,
        &:active .user-tweets__tweet-options-link--upload {
            color: $btn-color-primary;
        }

        &:hover svg[fill="#6f7b86"] {
            fill: $btn-color-primary;
            background-color: rgba($btn-color-primary, .2);
        }
    }

    &__tweet-embed-icon {
        height: 7.5pt;
        position: absolute;
        top: 2.7rem;
        right: 1rem;
    }
}

//////////////////////////////
// SMALLER SCREENS //////////
////////////////////////////

@media screen and (max-width: 365px) {
    .user-tweets {

        .pinned::before {
            left: 6.5rem;
        }

        &__profile-img {
            height: 4rem;
            width: 4rem;
        }
    
        &__tweet-body {
            margin-left: 1rem;
        }

        &__tweet-options-item--retweets {
            justify-self: start;
        }
    }
}

//////////////////////////////
// MEDIUM SCREENS ///////////
////////////////////////////

@media screen and (min-width: 600px) {
    .user-tweets {
        &__tweet {
            border: 1px solid $color-gray-1;
            border-top: none;
        }
    }
}