.user-details {
    font-size: 1.6rem;

    &__link {
        
    }

    // user details header styles
    &__header {
        height: 30rem;
        max-width: 100%;
        width: auto;
        margin-bottom: 1rem;
        position: relative;
    }

    &__cover-img {
        max-height: 20rem;
        height: auto;
        width: 100%;
    }

    &__profile-img-container {
        height: 30%;
        width: 15%;
    }

    &__link--user-img {
        
    }

    &__profile-img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }

    &__btn {
        
    }

    // user details body styles
}