*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: $color-primary;
    height: 500rem;

    // testing
    // color: #465a6e;
}

html {
    font-size: 62.5%;
}