
.hr-thin {
    border: 0;
    height: 1px;
    background-color: $color-primary-lighter-2;
}

.no-word-break {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wrapper {
    max-width: 62rem;
    margin: 0 auto;
}