.border-radius-top-left {
    border-top-left-radius: 15px;
}

.border-radius-top-right {
    border-top-right-radius: 15px;
}

.border-radius-bottom-left {
    border-bottom-left-radius: 15px;
}

.border-radius-bottom-right {
    border-bottom-right-radius: 15px;
}


.hr-thin {
    border: 0;
    height: 1px;
    background-color: $color-primary-lighter-2;
}

.no-word-break {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wrapper {
    max-width: 62rem;
    margin: 0 auto;
}

//////////////////////////////
// LARGE SCREENS ////////////
////////////////////////////

@media screen and (min-width: 1000px) {
    .wrapper {
        max-width: 100rem;
        padding: 0 1rem;
    }
}